{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Add Item</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'itemList' %}">Item List</a></li>
            <li class="breadcrumb-item">Add Item</li>
        </ol>
    </nav>
</div>
<section class="section">
    {% if messages %}
    {% for message in messages %}
    {% if forloop.counter == 1 %}
    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Add Item</h4>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="float-end">
                                <a href="{% url 'itemList' %}" class="btn btn-primary btn-sm">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'itemAdd' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="5"
                                    placeholder="" required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="item_category_id">Item Category</label>
                                        <select name="item_category_id" id="item_category_id" class="form-control"
                                            required>
                                            <option value="">Select Item Category</option>
                                            {% for itemCategory in itemCategories %}
                                            <option value="{{itemCategory.id}}">{{itemCategory.description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ply_dimension_id">Ply Dimension</label>
                                        <select name="ply_dimension_id" id="ply_dimension_id" class="form-control">
                                            <option value="">Select Ply Dimension</option>
                                            {% for plyDimension in plyDimensions %}
                                            <option value="{{plyDimension.id}}">{{plyDimension.description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="uom_id">UOM</label>
                                        <select name="uom_id" id="uom_id" class="form-control" required>
                                            <option value="">Select UOM</option>
                                            {% for uom in uoms %}
                                            <option value="{{uom.id}}">{{uom.description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="unit_price">Unit Price</label>
                                        <input type="text" name="unit_price" class="form-control" id="unit_price"
                                            required placeholder=""
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hsn_code">HSN Code</label>
                                        <input type="text" name="hsn_code" class="form-control" id="hsn_code" required
                                            placeholder=""
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gst_percentage">GST Percentage</label>
                                        <input type="text" name="gst_percentage" class="form-control"
                                            id="gst_percentage" required placeholder=""
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p> Want to Add any Attribute like color, size etc?</p>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm btn-info add_attribute">Add
                                        Attribute</button>
                                </div>
                            </div>
                            <div class="extra_attributes">
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success me-2">Submit</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).on('click', '.add_attribute', function () {
        $('.extra_attributes').append(`<div class="row content_parent">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Attribute Name</label>
                                        <input type="text" class="form-control attribute_name" name="attribute_name[]" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Attribute Value</label>
                                        <textarea name="attribute_value[]" class="form-control attribute_value" rows="5" placeholder="" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-sm btn-danger mt-4 remove_attribute">Remove</button>
                                    </div>
                                </div>
                            </div>`);
    });

    $(document).on('click', '.remove_attribute', function () {
        $(this).parents().closest('.content_parent').remove();
    });

    $(document).on('keyup', '#length_ft', function () {
        setDimension();
    });
    $(document).on('keyup', '#breadth_ft', function () {
        setDimension();
    });

    function setDimension() {
        if ($("#length_ft").val() != "") {
            length_ft = $("#length_ft").val();
            $("#length_mt").val((length_ft * 0.3048).toFixed(2));
        }
        if ($("#breadth_ft").val() != "") {
            breadth_ft = $("#breadth_ft").val();
            $("#breadth_mt").val((breadth_ft * 0.3048).toFixed(2));
        }

        if ($("#length_ft").val() != "" && $("#breadth_ft").val() != "") {
            length_ft = $("#length_ft").val();
            breadth_ft = $("#breadth_ft").val();
            length_mt = length_ft * 0.3048;
            breadth_mt = breadth_ft * 0.3048;

            square_ft = length_ft * breadth_ft;
            square_mt = length_mt * breadth_mt;

            $("#square_ft").val(square_ft.toFixed(2));
            $("#square_mt").val(square_mt.toFixed(2));
        } else {
            $("#square_ft").val(0);
            $("#square_mt").val(0);
        }
    }
</script>
{% endblock %}