{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Edit Store Transaction of {{storeTransaction.transaction_number}}</h4>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'storeTransactionList' %}" class="btn btn-primary btn-sm float-end">Back</a>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'storeTransactionEdit' storeTransaction.id %}"
                            method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{storeTransaction.id}}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="transaction_type_id">Transaction Type</label>
                                        <select name="transaction_type_id" id="transaction_type_id" class="form-control"
                                            required>
                                            <option value="">Select Transaction Type</option>
                                            {% for transactionType in transactionTypes %}
                                            <option {% if transactionType.id == storeTransaction.transaction_type_id %}
                                                selected {% endif %} value="{{transactionType.id}}">
                                                {{transactionType.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="transaction_date">Transaction Date</label>
                                        <input type="date" name="transaction_date" class="form-control"
                                            value="{{storeTransaction.transaction_date|date:'Y-m-d'}}"
                                            id="transaction_date" required placeholder="Transaction Date">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="store_id">Store</label>
                                        <select name="store_id" id="store_id" class="form-control" required>
                                            <option value="">Select Store</option>
                                            {% for store in stores %}
                                            <option {% if store.id == storeTransaction.store_id %} selected {% endif %}
                                                value="{{store.id}}">{{store.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="vendor_id">Vendor</label>
                                        <select name="vendor_id" id="vendor_id" class="form-control" required>
                                            <option value="">Select Vendor</option>
                                            {% for vendor in vendors %}
                                            <option {% if vendor.id == storeTransaction.vendor_id %} selected {% endif %}
                                                value="{{vendor.id}}">{{vendor.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="with_purchase_order">With/Without Purchase Order</label>
                                        <select name="with_purchase_order" id="with_purchase_order" required
                                            class="form-control">
                                            <option value="1" {% if storeTransaction.purchase_order_header_id is not None %} selected {% endif %}>With Purchase Order</option>
                                            <option value="0" {% if storeTransaction.purchase_order_header_id is None %} selected {% endif %}>Without Purchase Order</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {% if storeTransaction.purchase_order_header_id is not None %}
                                    <div class="form-group purchase_order_type_content">
                                        <label for="purchase_order_header_id">Purchase Order Reference</label>
                                        <select name="purchase_order_header_id" id="purchase_order_header_id" required
                                            class="form-control">
                                            <option value="">Select Purchase Order</option>
                                            {% for vendorPurchaseOrder in vendorPurchaseOrders %}
                                            <option {% if vendorPurchaseOrder.id == storeTransaction.purchase_order_header_id %} selected {% endif %} value="{{vendorPurchaseOrder.id}}">{{vendorPurchaseOrder.purchase_order_no}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% else %}
                                    <div class="form-group purchase_order_type_content" style="display: none;">
                                        <label for="purchase_order_header_id">Purchase Order Reference</label>
                                        <select name="purchase_order_header_id" id="purchase_order_header_id" class="form-control">
                                            <option value="">Select Purchase Order</option>
                                            {% for vendorPurchaseOrder in vendorPurchaseOrders %}
                                            <option {% if vendorPurchaseOrder.id == storeTransaction.purchase_order_header_id %} selected {% endif %} value="{{vendorPurchaseOrder.id}}">{{vendorPurchaseOrder.purchase_order_no}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="purchase_order_details">
                                {% for storeTransactionDetail in storeTransaction.storetransactiondetails_set.all %}
                                <div class="row content_parent">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="item_id">Item</label>
                                            <select name="item_id[]" id="item_id" class="form-control" required>
                                                <option value="">Select Item</option>
                                                {% for item in items %}
                                                <option {% if item.id == storeTransactionDetail.item_id %} selected {% endif %} value="{{item.id}}">{{item.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control item_quantity" name="quantity[]"
                                                placeholder="100" required value="{{storeTransactionDetail.quantity}}"
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Unit Price</label>
                                            <input type="text" class="form-control item_unit_price" name="unit_price[]"
                                                placeholder="10" required value="{{storeTransactionDetail.unit_price}}"
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" class="form-control item_total_amount" name="amount[]"
                                                placeholder="100,000" required value="{{storeTransactionDetail.amount}}"
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    {% if forloop.counter == 1 and storeTransaction.purchase_order_header_id is None %}
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-info mt-4 add_item">Add More
                                                Item</button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="button"
                                                class="btn btn-sm btn-danger mt-4 remove_item">Remove</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="add_more_content">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="total_amount">Total Amount</label>
                                        <input type="text" name="total_amount" class="form-control" id="total_amount"
                                            required placeholder="Total Amount" readonly
                                            value="{{storeTransaction.total_amount}}"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button type="reset" class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('click', '.add_item', function () {
        $('.add_more_content').append(`<div class="row content_parent">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item</label>
                                        <select name="item_id[]" class="form-control" required>
                                            <option value="">Select Item</option>
                                            {% for item in items %}
                                            <option value="{{item.id}}">{{item.description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="text" class="form-control item_quantity" name="quantity[]" placeholder="100" required
                                        onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Unit Price</label>
                                        <input type="text" class="form-control item_unit_price" name="unit_price[]" placeholder="10" required
                                        onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" class="form-control item_total_amount" name="amount[]" placeholder="100,000" required
                                        onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-sm btn-danger mt-4 remove_item">Remove</button>
                                    </div>
                                </div>
                            </div>`);
    });

    $(document).on('click', '.remove_item', function () {
        if ($(this).parents().find('.content_parent').length > 1) {
            $(this).parents().closest('.content_parent').remove();
            calculateTotalAmount();
        } else {
            alert("You must submit one of the items of purchase order.")
        }
    });

    $(document).on('keyup', '.item_quantity', function () {
        item_total_amount = 0;
        item_quantity = $(this).val();
        item_unit_price = $(this).parents(".content_parent").find('.item_unit_price').val();
        if (item_quantity != "" && item_unit_price != "") {
            item_total_amount = item_quantity * item_unit_price;
            $(this).parents(".content_parent").find('.item_total_amount').val(item_total_amount.toFixed(2));
        }
        calculateTotalAmount();
    });
    $(document).on('keyup', '.item_unit_price', function () {
        item_total_amount = 0;
        item_unit_price = $(this).val();
        item_quantity = $(this).parents(".content_parent").find('.item_quantity').val();
        if (item_quantity != "" && item_unit_price != "") {
            item_total_amount = item_quantity * item_unit_price;
            $(this).parents(".content_parent").find('.item_total_amount').val(item_total_amount.toFixed(2));
        }
        calculateTotalAmount();
    });

    function calculateTotalAmount() {
        total_amount = 0;
        $('.item_total_amount').each(function () {
            if ($(this).val() != "") {
                total_amount += parseInt($(this).val());
            }
        });
        $("#total_amount").val(total_amount);
    }

    $(document).on('change', '#with_purchase_order', function () {
        purchase_order_type = $(this).val();
        if (parseInt(purchase_order_type) == 1) {
            $('.purchase_order_type_content').show();
            $('#purchase_order_header_id').attr('required', 'required');
        } else {
            $('.purchase_order_type_content').hide();
            $('#purchase_order_header_id').removeAttr('required');
            purchase_details = `<div class="row content_parent">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Item</label>
                                            <select name="item_id[]" class="form-control" required>
                                                <option value="">Select Item</option>
                                                {% for item in items %}
                                                <option value="{{item.id}}">{{item.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control item_quantity" name="quantity[]"
                                                placeholder="100" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Unit Price</label>
                                            <input type="text" class="form-control item_unit_price" name="unit_price[]"
                                                placeholder="10" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" class="form-control item_total_amount" name="amount[]"
                                                placeholder="100,000" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-info mt-4 add_item">Add More
                                                Item</button>
                                        </div>
                                    </div>
                                </div>`;
            $(".purchase_order_details").html(purchase_details);
            $("#total_amount").val(0);
        }
    });

    $(document).on('change', '#vendor_id', function () {
        let vendor_id = $(this).val();
        $.ajax({
            url: "{% url 'getVendorPurchaseOrders' %}",
            type: 'post',
            data: ({ vendor_id: vendor_id, csrfmiddlewaretoken: '{{csrf_token}}' }),
            success: function (response) {
                if (response.code == 200) {
                    if (response.data.length > 0) {
                        var options_text = `<option value="">Select Purchase Order</option>`;
                        for (let index = 0; index < response.data.length; index++) {
                            options_text += `<option value="${response.data[index].id}">${response.data[index].purchase_order_no}</option>`;
                        }
                        $("#purchase_order_header_id").html(options_text);
                    } else {
                        var options_text = `<option value="">Select Purchase Order</option>`;
                        $("#purchase_order_header_id").html(options_text);
                        $('.purchase_order_type_content').hide();
                        $('#purchase_order_header_id').removeAttr('required');
                        purchase_details = `<div class="row content_parent">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Item</label>
                                            <select name="item_id[]" class="form-control" required>
                                                <option value="">Select Item</option>
                                                {% for item in items %}
                                                <option value="{{item.id}}">{{item.description}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control item_quantity" name="quantity[]"
                                                placeholder="100" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Unit Price</label>
                                            <input type="text" class="form-control item_unit_price" name="unit_price[]"
                                                placeholder="10" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" class="form-control item_total_amount" name="amount[]"
                                                placeholder="100,000" required
                                                onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-info mt-4 add_item">Add More
                                                Item</button>
                                        </div>
                                    </div>
                                </div>`;
                        $(".purchase_order_details").html(purchase_details);
                        $("#total_amount").val(0);
                        $("#with_purchase_order").val(0);
                    }
                } else {
                    alert(response.message);
                }
            },
        });
    });

    $(document).on('change', '#purchase_order_header_id', function () {
        let purchase_order_header_id = $(this).val();
        if (purchase_order_header_id != "") {
            $("#with_purchase_order").val(1);
        }
        $.ajax({
            url: "{% url 'getPurchaseOrderDetails' %}",
            type: 'post',
            data: ({ purchase_order_header_id: purchase_order_header_id, csrfmiddlewaretoken: '{{csrf_token}}' }),
            success: function (response) {
                if (response.code == 200) {
                    var purchase_details = ``;
                    var total_amount = 0;
                    for (let index = 0; index < response.data.length; index++) {
                        total_amount += parseInt(response.data[index].amount);
                        purchase_details += `<div class="row content_parent">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item</label>
                                        <select name="item_id[]" class="form-control" required disabled>
                                            <option value="">Select Item</option>
                                            ${response.items.map((item) => `<option ${item.id == response.data[index].item_id ? "selected" : ""} value="${item.id}">${item.description}</option>`)}
                                        </select>
                                        <input type="hidden" name="item_id[]" value="${response.data[index].item_id}">
                                        <input type="hidden" name="purchase_details_id[]" value="${response.data[index].id}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="text" class="form-control item_quantity" name="quantity[]" min="1" max="${response.data[index].quantity - response.data[index].delivered_quantity}"
                                            placeholder="100" required value="${response.data[index].quantity - response.data[index].delivered_quantity}"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)"
                                            onkeyup="checkMaxMin(this)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Unit Price</label>
                                        <input type="text" class="form-control item_unit_price" name="unit_price[]" readonly
                                            placeholder="10" required value="${response.data[index].unit_price}"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" class="form-control item_total_amount" name="amount[]" readonly
                                            placeholder="100,000" required value="${response.data[index].amount}"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                ${index == 0 ? `<div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button"
                                            class="btn btn-sm btn-danger mt-4 remove_item">Remove</button>
                                    </div>
                                </div>`: `<div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button"
                                            class="btn btn-sm btn-danger mt-4 remove_item">Remove</button>
                                    </div>
                                </div>`}

                            </div>`;
                    }
                    $(".purchase_order_details").html(purchase_details);
                    $("#total_amount").val(total_amount.toFixed(2));
                } else {
                    alert(response.message);
                }
            },
        });
    });

    function checkMaxMin(element) {
        if (parseInt($(element).attr('max')) < parseInt($(element).val())) {
            $(element).val($(element).attr('max'));
        }
        if (parseInt($(element).attr('min')) > parseInt($(element).val())) {
            $(element).val($(element).attr('min'));
        }
    }
</script>
{% endblock %}