<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Master Data</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Master Data</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          {% if request.user.is_superuser == 1 %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'userList' %}">Users</a></li>
          {% endif %}
          <li class="nav-item"> <a class="nav-link" href="{% url 'customerList' %}">Customers</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'salespersonList' %}">Sales Person</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'vendorList' %}">Vendors</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'storeList' %}">Stores</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'uomList' %}">UOM</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'itemCategoryList' %}">Item Category</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'plyDimensionList' %}">Ply Dimension</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'itemList' %}">Item</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'storeItemList' %}">Store Item</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'standardTermList' %}">Stanadard Term Master</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Transactions</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Transactions</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'purchaseOrderList' %}">Purchase Order</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'salesOrderList' %}">Sales Order</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'onTransitOrderList' %}">Pending Transit</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'storeTransactionList' %}">Store Transaction</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'invoiceList' %}">Invoice List</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'pendingInvoiceList' %}">Pending Invoice List</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>