<aside id="sidebar" class="sidebar" style="background-color: #EDEDED;">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#master-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Master Data</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="master-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        {% if request.user.is_superuser == 1 %}
        <li>
          <a href="{% url 'userList' %}">
            <i class="bi bi-circle"></i><span>Users</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'customerList' %}">
            <i class="bi bi-circle"></i><span>Customers</span>
          </a>
        </li>
        <li>
          <a href="{% url 'vendorList' %}">
            <i class="bi bi-circle"></i><span>Vendors</span>
          </a>
        </li>
        <li>
          <a href="{% url 'salespersonList' %}">
            <i class="bi bi-circle"></i><span>Sales Persons</span>
          </a>
        </li>
        <li>
          <a href="{% url 'uomList' %}">
            <i class="bi bi-circle"></i><span>UOM</span>
          </a>
        </li>
        <li>
          <a href="{% url 'itemCategoryList' %}">
            <i class="bi bi-circle"></i><span>Item Category</span>
          </a>
        </li>
        <li>
          <a href="{% url 'plyDimensionList' %}">
            <i class="bi bi-circle"></i><span>Ply Dimension</span>
          </a>
        </li>
        <li>
          <a href="{% url 'itemList' %}">
            <i class="bi bi-circle"></i><span>Item</span>
          </a>
        </li>
        <li>
          <a href="{% url 'storeList' %}">
            <i class="bi bi-circle"></i><span>Stores</span>
          </a>
        </li>
        <li>
          <a href="{% url 'storeItemList' %}">
            <i class="bi bi-circle"></i><span>Store Items</span>
          </a>
        </li>
        <li>
          <a href="{% url 'standardTermList' %}">
            <i class="bi bi-circle"></i><span>Stanadard Term Master</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#storeTransaction-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Store Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="storeTransaction-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'purchaseOrderList' %}">
            <i class="bi bi-circle"></i><span>Purchase Orders</span>
          </a>
        </li>
        <li>
          <a href="{% url 'storeTransactionList' %}">
            <i class="bi bi-circle"></i><span>Store Transactions</span>
          </a>
        </li>
        <li>
          <a href="{% url 'onTransitOrderList' %}">
            <i class="bi bi-circle"></i><span>Pending Transits</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Store Transaction Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#salesTransaction-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-card-list"></i><span>Sales Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="salesTransaction-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'salesOrderList' %}">
            <i class="bi bi-circle"></i><span>Sales Orders</span>
          </a>
        </li>
        <li>
          <a href="{% url 'invoiceList' %}">
            <i class="bi bi-circle"></i><span>Invoice List</span>
          </a>
        </li>
        <li>
          <a href="{% url 'pendingInvoiceList' %}">
            <i class="bi bi-circle"></i><span>Pending Invoices</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Sales Transaction Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-earmark"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'storeItemReports' %}">
            <i class="bi bi-circle"></i><span>Store Item Reports</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Reports Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#delivery-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-truck"></i><span>Delivery</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="delivery-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'deliveryChallanList' %}">
            <i class="bi bi-circle"></i><span>Delivery Challan</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Delivery Challan Nav -->
  </ul>
</aside>