{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Add Ply Dimension</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'plyDimensionList' %}">Ply DImension List</a></li>
            <li class="breadcrumb-item">Add Ply Dimension</li>
        </ol>
    </nav>
</div>
<section class="section">
    {% if messages %}
    {% for message in messages %}
    {% if forloop.counter == 1 %}
    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Add Ply Dimension</h4>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="float-end">
                                <a href="{% url 'plyDimensionList' %}" class="btn btn-primary btn-sm">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'plyDimensionAdd' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="5"
                                    placeholder="" required></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="length_ft">Length(Ft)</label>
                                        <input type="text" name="length_ft" class="form-control" id="length_ft" required
                                            placeholder=""
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="length_mt">Length(Mt)</label>
                                        <input type="text" name="length_mt" class="form-control" id="length_mt" required
                                            readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="breadth_ft">Breadth(Ft)</label>
                                        <input type="text" name="breadth_ft" class="form-control" id="breadth_ft"
                                            required placeholder=""
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="breadth_mt">Breadth(Mt)</label>
                                        <input type="text" name="breadth_mt" class="form-control" id="breadth_mt"
                                            required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="square_ft">Square(Ft)</label>
                                        <input type="text" name="square_ft" class="form-control" id="square_ft" required
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="square_mt">Square(Mt)</label>
                                        <input type="text" name="square_mt" class="form-control" id="square_mt" required
                                            readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success me-2">Submit</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).on('keyup', '#length_ft', function () {
        setDimension();
    });
    $(document).on('keyup', '#breadth_ft', function () {
        setDimension();
    });

    function setDimension() {
        if ($("#length_ft").val() != "") {
            length_ft = $("#length_ft").val();
            $("#length_mt").val((length_ft * 0.3048).toFixed(2));
        }
        if ($("#breadth_ft").val() != "") {
            breadth_ft = $("#breadth_ft").val();
            $("#breadth_mt").val((breadth_ft * 0.3048).toFixed(2));
        }

        if ($("#length_ft").val() != "" && $("#breadth_ft").val() != "") {
            length_ft = $("#length_ft").val();
            breadth_ft = $("#breadth_ft").val();
            length_mt = length_ft * 0.3048;
            breadth_mt = breadth_ft * 0.3048;

            square_ft = length_ft * breadth_ft;
            square_mt = length_mt * breadth_mt;

            $("#square_ft").val(square_ft.toFixed(2));
            $("#square_mt").val(square_mt.toFixed(2));
        }
    }
</script>
{% endblock %}