{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Edit Ply Dimension</h4>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'plyDimensionList' %}" class="btn btn-primary btn-sm float-end">Back</a>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'plyDimensionEdit' plyDimension.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{plyDimension.id}}">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="5"
                                    placeholder="Description" required>{{plyDimension.description}}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="length_ft">Lenght(Ft)</label>
                                        <input type="text" name="length_ft" class="form-control" id="length_ft" required
                                            placeholder="Length(Ft)" value="{{plyDimension.length_ft}}"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="length_mt">Lenght(Mt)</label>
                                        <input type="text" name="length_mt" class="form-control" id="length_mt" required
                                            value="{{plyDimension.length_mt}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="breadth_ft">Breadth(Ft)</label>
                                        <input type="text" name="breadth_ft" class="form-control" id="breadth_ft"
                                            required placeholder="Breadth(Ft)" value="{{plyDimension.breadth_ft}}"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="breadth_mt">Breadth(Mt)</label>
                                        <input type="text" name="breadth_mt" class="form-control" id="breadth_mt"
                                            required value="{{plyDimension.breadth_mt}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="square_ft">Square(Ft)</label>
                                        <input type="text" name="square_ft" class="form-control" id="square_ft" required
                                            value="{{plyDimension.square_ft}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="square_mt">Square(Mt)</label>
                                        <input type="text" name="square_mt" class="form-control" id="square_mt" required
                                            value="{{plyDimension.square_mt}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button type="reset" class="btn btn-light">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('keyup', '#length_ft', function () {
        setDimension();
    });
    $(document).on('keyup', '#breadth_ft', function () {
        setDimension();
    });

    function setDimension() {
        if ($("#length_ft").val() != "") {
            length_ft = $("#length_ft").val();
            $("#length_mt").val((length_ft * 0.3048).toFixed(2));
        }
        if ($("#breadth_ft").val() != "") {
            breadth_ft = $("#breadth_ft").val();
            $("#breadth_mt").val((breadth_ft * 0.3048).toFixed(2));
        }

        if ($("#length_ft").val() != "" && $("#breadth_ft").val() != "") {
            length_ft = $("#length_ft").val();
            breadth_ft = $("#breadth_ft").val();
            length_mt = length_ft * 0.3048;
            breadth_mt = breadth_ft * 0.3048;

            square_ft = length_ft * breadth_ft;
            square_mt = length_mt * breadth_mt;

            $("#square_ft").val(square_ft.toFixed(2));
            $("#square_mt").val(square_mt.toFixed(2));
        }
    }
</script>
{% endblock %}