{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Ply Dimensions</h4>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'plyDimensionAdd' %}" class="btn btn-primary btn-sm float-end">Add</a>
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'plyDimensionImport' %}" class="btn btn-primary btn-sm float-end">Import</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Length (Ft)
                                        </th>
                                        <th>
                                            Breadth (Ft)
                                        </th>
                                        <th>
                                            Length (Mt)
                                        </th>
                                        <th>
                                            Breadth (Mt)
                                        </th>
                                        <th>
                                            Square (Ft)
                                        </th>
                                        <th>
                                            Square (Mt)
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plyDimension in plyDimensions %}
                                    <tr>
                                        <td>
                                            {{plyDimension.description}}
                                        </td>
                                        <td>
                                            {{plyDimension.length_ft}}
                                        </td>
                                        <td>
                                            {{plyDimension.breadth_ft}}
                                        </td>
                                        <td>
                                            {{plyDimension.length_mt}}
                                        </td>
                                        <td>
                                            {{plyDimension.breadth_mt}}
                                        </td>
                                        <td>
                                            {{plyDimension.square_ft}}
                                        </td>
                                        <td>
                                            {{plyDimension.square_mt}}
                                        </td>
                                        <td>
                                            <a href="{% url 'plyDimensionEdit' plyDimension.id %}"
                                                class="btn btn-info btn-sm">
                                                Edit </a>
                                            <a onclick="return confirm('Are you sure you want to delete this?')"
                                                href="{% url 'plyDimensionDelete' plyDimension.id %}"
                                                class="btn btn-danger btn-sm">
                                                Delete </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if plyDimensions.has_other_pages %}
                    <div class="float-end">
                        <ul class="pagination">
                            {% if plyDimensions.has_previous %}
                            <li class="mx-2"><a href="?page={{ plyDimensions.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled mx-2"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in plyDimensions.paginator.page_range %}
                            {% if plyDimensions.number == i %}
                            <li class="active mx-2"><span>{{ i }} <span class="sr-only"></span></span></li>
                            {% else %}
                            <li class="mx-2"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if plyDimensions.has_next %}
                            <li class="mx-2"><a href="?page={{ plyDimensions.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled mx-2"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "paginate": true,
            "sort": true,
            "language": {
                "emptyTable": "No Data Is Available."
            },
            "order": [
                [0, "desc"]
            ],
        });
    });
</script>
{% endblock %}