{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Item Category List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">Item Category List</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Item Categories</h4>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="float-end">
                                <a href="{% url 'itemCategoryAdd' %}" class="btn btn-primary btn-sm">Add</a>
                                <a href="{% url 'itemCategoryImport' %}" class="btn btn-primary btn-sm">Import</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            SL No
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for itemCategory in itemCategories %}
                                    <tr>
                                        <td class="py-1">
                                            {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{itemCategory.description}}
                                        </td>
                                        <td>
                                            <a href="{% url 'itemCategoryEdit' itemCategory.id %}"
                                                class="btn btn-info btn-sm">
                                                Edit </a>
                                            <a onclick="return confirm('Are you sure you want to delete this?')"
                                                href="{% url 'itemCategoryDelete' itemCategory.id %}"
                                                class="btn btn-danger btn-sm">
                                                Delete </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- {% if itemCategories.has_other_pages %}
                    <div class="float-end">
                        <ul class="pagination">
                            {% if itemCategories.has_previous %}
                            <li class="mx-2"><a href="?page={{ itemCategories.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled mx-2"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in itemCategories.paginator.page_range %}
                            {% if itemCategories.number == i %}
                            <li class="active mx-2"><span>{{ i }} <span class="sr-only"></span></span></li>
                            {% else %}
                            <li class="mx-2"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if itemCategories.has_next %}
                            <li class="mx-2"><a href="?page={{ itemCategories.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled mx-2"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %} -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "paginate": true,
            "sort": true,
            "language": {
                "emptyTable": "No Data Is Available."
            },
            "order": [
                [0, "desc"]
            ],
        });
    });
</script>
{% endblock %}