{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sales Order List</title>
  <style>
    @font-face {
      font-family: SourceSansPro;
      src: url(SourceSansPro-Regular.ttf);
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>

<body style="position: relative; width: 25cm; height: 29.7cm; margin: 0 auto; color: #555555;
  background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 14px; font-family: SourceSansPro;">
  <header style=" padding: 10px 0; margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;" class="clearfix">
    <div style="float: left; margin-top: 8px;">
        <img src="{% static 'invoice/cpc.png' %}">
    </div>
  </header>

  <main>
    <div style="content: ""; display: table; clear: both;">
      <div style="padding-left: 6px; border-left: 6px solid #0087C3;
        float: left;">
        <div>SALES ORDER LIST</div>
        <div>NAME :</div>
        <div>ADDRESS :</div>
        <div>PHONE NO. :</div>
      </div>
      <div style="float: right; text-align: right; padding-right: 6px;">
        <div class="date">ORDER DATE : </div>
        <div class="date">DELIVERY DATE(APPROX) : </div>
        <div class="date">ORDER BY : </div>
      </div>
    </div>
    
    <div>
      <table border="2" cellspacing="0" cellpadding="10" style="width: 100%; border-collapse: collapse;
    border-spacing: 0;">
      <thead>
        <tr style="background-color: #57B223; color: #FFFFFF; text-align: center;">
          <th>(mm)</th>
          <th>PRODUCT DETAILS</th>
          <th>8x4</th>
          <th>8x3</th>
          <th>7x4</th>
          <th>7x3</th>
          <th>6x4</th>
          <th>6x3</th>
          <th>5x4</th>
          <th>5x3</th>
          <th>6.5x4</th>
          <th>6.5x3</th>
          <th>RATE</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>01</td>
          <td>Website Design</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>
            Website Design
          </td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>
            Website Design
          </td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
      </tbody>
    </table>
    </div>
    <div style="float: left; text-align: left;">
      <table border="2" cellspacing="0" cellpadding="25" style="width: 100%; border-collapse: collapse;
    border-spacing: 0;">
      <thead>
        <tr style="background-color: #57B223; color: #FFFFFF; text-align: center;">
          <th>DOOR</th>
          <th>DESIGN</th>
          <th>WOOD</th>
          <th>COLOR</th>
          <th>QUALITY</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>01</td>
          <td>Website Design</td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>
            Website Design
          </td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>
            Website Design
          </td>
          <td>01</td>
          <td>01</td>
          <td>01</td>
      </tbody>
    </table>
    </div>
    <div style="float: right; text-align: right;">
      <table border="2" cellspacing="0" cellpadding="25" style="width: 100%; border-collapse: collapse;
    border-spacing: 0;">
      <thead>
        <tr style="background-color: #57B223; color: #FFFFFF; text-align: center;">
          <th>LAMINATE</th>
          <th>MODEL</th>
          <th>QUALITY</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>01</td>
          <td>Website Design</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>Website Design</td>
          <td>01</td>
        </tr>

        <tr>
          <td>01</td>
          <td>Website Design</td>
          <td>01</td>
      </tbody>
    </table>
    </div>
    
    </div>
  </main>
  <footer style="color: #777777; width: 100%; height: 30px;  position: absolute;
    bottom: 0; border-top: 1px solid #AAAAAA; padding: 8px 0; text-align: center;">
    Sales Order List was created on a computer and is valid without the signature and seal
  </footer>
</body>

</html>