<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <style>
        @font-face {
            font-family: SourceSansPro;
            src: url(SourceSansPro-Regular.ttf);
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body style="position: relative; width: 25cm; height: 29.7cm; margin: 0 auto; color: #555555;
  background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 14px; font-family: SourceSansPro;">
    <header style=" padding: 10px 0; margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;" class="clearfix">
        <div style="float: left; margin-top: 8px;">
            <img src="cpc.png">
        </div>
        <div style="float: right; text-align: right;">
            <h2 style="font-size: 1.4em; font-weight: normal; margin: 0;">Chakda Ply Centre</h2>
            <div>Lalpur, Rathtala, Chakdaha - 741222,<br />
                Near 50 No Rail Gate.</div>
            <div>+91 9732856236</div>
            <div><a style="color: #0087C3; text-decoration: none;"
                    href="mailto:company@example.com">chakdaplycentre@gmail.com</a></div>
        </div>
    </header>

    <main>
        <div style="content: ""; display: table; clear: both;">
            <div style="padding-left: 6px; border-left: 6px solid #0087C3;
        float: left;">
                <div style="color: #777777;">INVOICE TO:</div>
                <h2 style="font-size: 1.4em; font-weight: normal; margin: 0;">Plywood House</h2>
                <div>191/3, Netaji Subash Chandra Bose Road, <br />
                    Regent Park, Regent Park, Kolkata, West Bengal 700040.</div>
                <div style="color: #0087C3; text-decoration: none;"><a
                        href="mailto:john@example.com">plywood@house.com</a>
                </div>
            </div>
            <div style="float: right; text-align: right; padding-right: 6px;">
                <div>INVOICE</div>
                <div class="date">Date of Invoice: 01/06/2014</div>
                <div class="date">Due Date: 30/06/2014</div>
                <div class="date">GSTIN No: 30/06/2014</div>
            </div>
        </div>
        <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;
    border-spacing: 0; margin-bottom: 20px;">
            <thead>
                <tr style="background-color: #57B223; color: #FFFFFF;">
                    <th>SL No:</th>
                    <th>Product</th>
                    <th>8x4</th>
                    <th>8x3</th>
                    <th>7x4</th>
                    <th>7x3</th>
                    <th>6x4</th>
                    <th>6x3</th>
                    <th>5x4</th>
                    <th>5x3</th>
                    <th>q. Ft.</th>
                    <th>Qty</th>
                    <th>Price/Unite</th>
                    <th>TOTAL</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>
                        Website Design
                    </td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>

                    <td style="background-color: #DDDDDD;">@40.00</td>
                    <td>30</td>
                    <td>@1,200.00</td>
                </tr>

                <tr>
                    <td>01</td>
                    <td>
                        Website Design
                    </td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>

                    <td style="background-color: #DDDDDD;">@40.00</td>
                    <td>30</td>
                    <td>@1,200.00</td>
                </tr>

                <tr>
                    <td>01</td>
                    <td>
                        Website Design
                    </td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>

                    <td style="background-color: #DDDDDD;">@40.00</td>
                    <td>30</td>
                    <td>@1,200.00</td>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #57B223; color: #FFFFFF;">SUBTOTAL</td>
                    <td style="background-color: #DDDDDD;">@5,200.00</td>
                </tr>
                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #0673ba; color: #FFFFFF;">CGST 9%</td>
                    <td style="background-color: #DDDDDD;">@1,300.00</td>
                </tr>
                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #0673ba; color: #FFFFFF;">SGST 9%</td>
                    <td style="background-color: #DDDDDD;">@1,300.00</td>
                </tr>

                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #ed2130; color: #FFFFFF;">PREVIOUS DUE</td>
                    <td style="background-color: #DDDDDD;">@1,300.00</td>
                </tr>
                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #57B223; color: #FFFFFF;">CARRYING COST</td>
                    <td style="background-color: #DDDDDD;">@1,300.00</td>
                </tr>
                <tr>
                    <td colspan="11"></td>
                    <td colspan="2" style="background-color: #57B223; color: #FFFFFF;">GRAND TOTAL</td>
                    <td style="background-color: #DDDDDD;">@6,500.00</td>
                </tr>
            </tfoot>
        </table>
        <div style="font-size: 2em; margin-bottom: 50px;">Thank you!</div>
        <div style="padding-left: 6px; border-left: 6px solid #0087C3;  ">
            <div>NOTICE:</div>
            <div style="font-size: 1.2em;">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
    </main>
    <footer style="color: #777777; width: 100%; height: 30px;  position: absolute;
    bottom: 0; border-top: 1px solid #AAAAAA; padding: 8px 0; text-align: center;">
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>

</html>