{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Add Store Item</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customerList' %}">Store Item List</a></li>
            <li class="breadcrumb-item">Add Store Item</li>
        </ol>
    </nav>
</div>
<section class="section">
    {% if messages %}
    {% for message in messages %}
    {% if forloop.counter == 1 %}
    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Add Store Item</h4>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="float-end">
                                <a href="{% url 'storeItemList' %}" class="btn btn-primary btn-sm">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'storeItemAdd' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="store_id">Store</label>
                                        <select name="store_id" id="store_id" class="form-control" required>
                                            <option value="">Select Store</option>
                                            {% for store in stores %}
                                            <option value="{{store.id}}">{{store.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="item_id">Item</label>
                                        <select name="item_id" id="item_id" class="form-control" required>
                                            <option value="">Select Item</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="opening_qty">Opening Quantity</label>
                                        <input type="text" name="opening_qty" class="form-control" id="opening_qty"
                                            required placeholder="Opening Quantity"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="on_hand_qty">On Hand Quantity</label>
                                        <input type="text" name="on_hand_qty" class="form-control" id="on_hand_qty"
                                            required placeholder="On Hand Quantity"
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="closing_qty">Closing Quantity</label>
                                        <input type="text" name="closing_qty" class="form-control" id="closing_qty"
                                            required placeholder="Closing Quantity" readonly
                                            onkeypress="return (event.charCode >=45 &&  event.charCode <= 46) || (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div> -->
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success me-2">Submit</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).on('keyup', '#opening_qty', function () {
        setQuantityCalculation();
    });
    // $(document).on('keyup', '#on_hand_qty', function () {
    //     setQuantityCalculation();
    // });

    function setQuantityCalculation() {
        // if ($("#opening_qty").val() != "" && $("#on_hand_qty").val() != "") {
        //     opening_qty = $("#opening_qty").val();
        //     on_hand_qty = $("#on_hand_qty").val();

        //     closing_qty = opening_qty - on_hand_qty;
        //     $("#closing_qty").val(closing_qty.toFixed(2));
        if ($("#opening_qty").val() != "") {
            opening_qty = $("#opening_qty").val();
            $("#closing_qty").val(opening_qty);
        } else {
            $("#closing_qty").val(0);
        }
    }

    $(document).on('change', '#store_id', function () {
        store_id = $(this).val();
        $.ajax({
            url: "{% url 'getExceptedStoreItems' %}",
            type: 'post',
            data: ({ store_id: store_id }),
            success: function (response) {
                if (response.code == 200) {
                    var except_store_item_text = `<option value="">Select Item</option>`;
                    for (let index = 0; index < response.items.length; index++) {
                        except_store_item_text += `<option value="${response.items[index].id}">${response.items[index].description}</option>`;
                    }
                    $("#item_id").html(except_store_item_text);
                } else {
                    alert(response.message);
                }
            },
        });
    })
</script>
{% endblock %}